.polygon-animation {
  transition: clip-path 0.3s ease;
  will-change: clip-path;
}
.button-global {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 44px;
  width: max-content;

  background: linear-gradient(270deg, #d9af6c 0%, #ff8d28 47.6%, #735d39 100%);

  border-radius: 22px;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--color-black);
    border-radius: 21px;
    z-index: 2;
  }
  span {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--color-gold);
    display: inline-block;
    position: relative;
    z-index: 3;
  }
}
.underline-hover {
  position: relative;
  display: inline-block;
  &:hover,
  &.active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-gold);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (scripting: enabled) {
  .polygon-box {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
.slider-btn {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  background: linear-gradient(270deg, #d9af6c 0%, #ff8d28 47.6%, #735d39 100%);
  border-radius: 50%;
  left: unset;
  right: unset;
  top: unset;
  opacity: 1 !important;
  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: rgb(33, 28, 25);
    border-radius: 50%;
  }
  .icon {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: unset;
    font-size: 0;
  }
}
