<div class="footer-container">
  <div class="footer-col">
    <div class="footer-title font-heading heading-4 color-gold">
      Sakura Massage Vip Da Nang
    </div>
    <ul>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">📍</div>
          <div class="label color-gold b2-font">
            169 Nguyen Van Thoai, An Hai Dong, An Hai, Da Nang, Vietnam.
          </div>
        </div>
      </li>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">☎️</div>
          <div class="label color-gold b2-font">
            Hotline: <a href="tel:0971246537">0971246537</a>.
          </div>
        </div>
      </li>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">⏰</div>
          <div class="label color-gold b2-font">Open from 10 AM - 3 AM.</div>
        </div>
      </li>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">⛔</div>
          <div class="label color-gold b2-font">
            Last customer accepted at 2:30 AM.
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-col">
    <div class="footer-title font-heading heading-4 color-gold">
      Sakura Massage Vip Da Nang
    </div>
    <ul>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">📍</div>
          <div class="label color-gold b2-font">
            169 Nguyen Van Thoai, An Hai Dong, An Hai, Da Nang, Vietnam.
          </div>
        </div>
      </li>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">☎️</div>
          <div class="label color-gold b2-font">
            Hotline: <a href="tel:0971246537">0971246537</a>.
          </div>
        </div>
      </li>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">⏰</div>
          <div class="label color-gold b2-font">Open from 10 AM - 3 AM.</div>
        </div>
      </li>
      <li>
        <div class="footer-item d-flex align-items-center">
          <div class="icon">⛔</div>
          <div class="label color-gold b2-font">
            Last customer accepted at 2:30 AM.
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-col">
    <div class="footer-title font-heading heading-4 color-gold">Contact</div>
    <div class="footer-box">
      <ul class="social">
        <li>
          <a href="">
            <img src="./assets/images/icons/icon-social-1.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="./assets/images/icons/icon-social-2.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="./assets/images/icons/icon-social-3.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="./assets/images/icons/icon-social-4.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="./assets/images/icons/icon-social-5.svg" alt="" />
          </a>
        </li>
      </ul>
      <div class="footer-copyright menu-font color-gold">
        Copyright © 2026 Sakura.
      </div>
    </div>
  </div>
</div>
